#journal-grid {
  padding: 2%;
  flex-wrap: nowrap;
}

.journal-title {
  display: flex;
  align-items: center;
  min-width: 50%;
}

.journal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2vmin;
}

.journal-entries {
  display: flex;
  flex-direction: column;
}

.icon-wrapper {
  height: auto;
  &:hover {
    cursor: pointer;
  }
}

#edit-icon-wrapper {
  margin-left: 2%;
}

#new-entry-button {
  margin-left: 5%;
}

.no-entries-message {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50vh;
}
